.container-non{
    background-color: #6b000d;
    padding: 0.5em 3em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    color:#fff;
    margin-top: 16px;
    font-size: 15px;
    cursor: pointer;
}