.slider-container {
  margin-top: 5px;
}

.slider-container:hover .arrow {
  animation: none;
  display: inline;
}

.slider-images {
  width: 100%;
  height: auto;
}

.arrow {
  display: none;
  position: absolute;
  top: 78%;
  right: 2%;
  z-index: 1;
  cursor: pointer;
}
