.outer-container{
    background-color: #ef4056;
    padding: 0.5em 3em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    color:#fff;
    margin-top: 1em;
    font-size: 15px;
    cursor: pointer;
}
