.container-icon {
  position: relative;
}

.icon {
  font-size: 30px;
  margin-left: 10px;
  color: #333;
  cursor: pointer;
}

.pipe {
  font-size: 30px;
  color: #000;
}

.count {
  position: absolute;
  bottom: 70%;
  left: 30%;
}
