.container-arrow {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.next-arrow,
.previous-arrow {
  width: 45px;
  height: 45px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
}


/*.next-arrow {*/
/*  right: 6%;*/
/*}*/

/*.previous-arrow {*/
/*  right: 2%;*/
/*}*/

/*.next-arrow:hover,*/
/*.previous-arrow:hover {*/
/*  display: inline;*/
/*}*/