.search-bar {
  display: flex;
  height: 45px;
  outline: none;
  border: none;
  flex-direction: row-reverse;
}

.logo-digi{
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
}

.container-search{
  position: relative;
  display: flex;
  margin-right: 30px;
}

.search-feild {
  background-color: #f0f0f1;
  width: 500px;
  font-size: 14px;
  border-radius: 10px;
  padding-right: 40px;
  direction: rtl;
  border: none;
}

.search-feild:hover , .search-feild:focus{
  outline: none;
}
             
.search-icon {
  position: absolute;
  right: 1%;
  top: 10%;
  font-size: 34px;
  color: #a1a3a8;
  cursor: pointer;
}