.outer-container{
    border-radius: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #000000;
    font-size: 20px;
    position: absolute;
    line-height: 1.7;
}

.exit-user{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}
